<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RoyalClaw-Website</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maiximum-scale=1, minimum-scale=1"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
</head>
<body>
    <nav>
        <h2>Royal Claw</h2>
        <ul>
            <li class="left"><a href="{% url 'home' %}" title="Home">Home</a></li>
            <li class="left"><a href="{% url 'store' %}" title="Merch">Merch</a></li>
            <li class="right"><a href="{% url 'cart' %}" title="Cart"><img src="{% static 'images/cart.png' %}"></a></li>
            <li class="right"><a href="" title="Login">Login</a></li>
        </ul>
	</nav>

    <h4>HOME PAGE</h4>

</body>
</html>