{% extends 'store/base.html' %}
{% load static %}
{% block content %}
	<div class="row">
		<div class="col-lg-4">
			<img src="{% static 'images/default-product-image.png' %}" width="300" height="300" alt="Product">
			<div class="box-element">
				<h6><strong>Product</strong></h6>
				<hr>

				<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
				<a href="#">View</a>
				<h4 style="display: inline-block; text-align: right"><strong>$20</strong></h4>
			</div>
		</div>

		<div class="col-lg-4">
			<img src="{% static 'images/default-product-image.png' %}" width="300" height="300" alt="Product">
			<div class="box-element">
				<h6><strong>Product</strong></h6>
				<hr>

				<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
				<a href="#">View</a>
				<h4 style="display: inline-block; text-align: right"><strong>$20</strong></h4>
			</div>
		</div>

		<div class="col-lg-4">
			<img src="{% static 'images/default-product-image.png' %}" width="300" height="300" alt="Product">
			<div class="box-element">
				<h6><strong>Product</strong></h6>
				<hr>

				<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
				<a href="#">View</a>
				<h4 style="display: inline-block; text-align: right"><strong>$20</strong></h4>
			</div>
		</div>

	</div>

{% endblock content %}